<section class="row">
  <div class = "column">
    <h2>Create New Quest</h2>

    <form class="new-quest-form">
      <div>
        <label for="quest-title">Title</label>
        <input type="text" id="quest-title" name="quest-title" />
      </div>
            <div>
        <label for="quest-setting">Setting</label>
        <input type="text" id="quest-setting" name="quest-setting" />
      </div>
            <div>
        <label for="quest-setting">Challenge</label>
        <input type="text" id="quest-challenge" name="quest-challenge" />
      </div>
      <div>
        <label for="quest-text">Description</label>
        <textarea id="quest-text" name="quest-text"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>

</section>

{{#if quests.length}}
  <section>
    <h2>Quests</h2>
    <ul>
      {{#each quests as |quest|}}
        <li>
          <h4>{{quest_title}}</h4>
          <h4>{{quest_setting}}</h4>
          <h4>{{quest_challenge}}</h4>
          <p>{{quest_text}}</p>
        </li>
      {{/each}}
    </ul>
  </section>
{{else}}
  <p>No quests found.</p>
{{/if}}

  {{!-- {{#if quests.length}}
  <div class="col-md-6 quest-list">
    <h3>Quests:</h3>

    {{#each quests as |quest|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/quest/{{quest.id}}">{{quest.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{quest.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="/js/dashboard.js"></script>